name: CI pipeline for RUVNL Consumer App

on: 
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  lint_and_test:
    uses: openclimatefix/.github/.github/workflows/poetry-python-test.yml@v1.8.3
    with:
      pytest_cov_dir: ruvnl_consumer_app

  release:
    needs: [lint_and_test]
    if: github.ref_name == 'main'
    uses: openclimatefix/.github/.github/workflows/docker-release.yml@v1.8.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
    with:
      image_base_name: ruvnl_consumer_app
